@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

* {
				margin: 0;
				padding: 0;
				box-sinzing: border-box;
}

:root {
  --backgrond: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
  
  --font-padrao: 'Manrope', sans-serif;
  
}

body {
				height: 100vh;
				width: 100%;
				font-family: 'Manrope', sans-serif;
				background-color: var(--backgrond);
				
}

.c-main__content , .c-navbar__content {
				min-width: 320px;
				max-width: 1250px;				
				padding: 0 30px;
				margin: auto;
}

/* main */

.c-main__content{

				display: flex;
				flex-direction: column;
				align-items: center;
				
				justify-content: flex-end;
				gap: 40px;
				height: 100vh;
				
}
.c-main__textos{
				display: flex;
		   flex-direction: column;		
				align-items: center;				
				gap: 10px;
				justify-content: space-between;
}
.c-main__texto{
				display: flex;
		   flex-direction: column;	
				align-items: center;
				width: 100%;
				font-size: 100px;
				font-weight: 700;				
				
				
	}

.c-main__paragrafo{
				width: 80%;
				color: #fff;
				font-family: var(--font-padrao);
				font-size: 25px;
				font-weight: 700;
				text-align: center;
				display: none;
				
				transform: translatey(0px);
				animation: float 5s ease-in-out infinite;
}
 @keyframes float{
 				0% {
 							transform:	translatey(0px);
 				}
 				50% {
 							transform:	translatey(-30px);
 				}
 				100% {
 							transform:	translatey(0px);
 				}
 }
.c-main__titulo {
				color: #fff;
}
.c-main__subtitulo {
				text-shadow: -1px -1px 0 var(--button), 1px 				-1px 0 var(--button), -1px 1px 0 var(--button), 				1px 1px 0 var(--button);
}

.c-main__rocket-coffee {
				width: 100%;				
				
				
}

@media(max-width: 1440px){
				.c-main__texto{
								font-size: 50px;
				}
}
@media(max-width: 435px){
				.c-main__texto{
								font-size: 35px;
				}
}

/* header */

.c-navbar{
				position: fixed;
				width: 100%;
			 	z-index: 3;  
				padding: 25px 0;
				transition: all 0.3s ease;
}

.c-navbar__content{
				display: flex;
				align-items: center;
				justify-content: space-around;
}

.c-navbar__menu-list{
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 25px;
}
.c-navbar__itens{
				color: #fff;
  			font-size: 18px;
  			font-weight: 400;
  			text-decoration: none;
      transition: all 0.3s ease;
}
.c-navbar__itens:hover{
				color: var(--button);
				transition: 0.5s;
}

.c-navbar__logo--mobile{
				display: none;
}

.c-navbar__button{
				padding: 6px 25px;
				background-color: rgba(255, 255, 255, 0);;
				border: 2px solid #8257E5;
			 border-radius:4px;				
				cursor: pointer;
				color: #fff;
				font-family: var(--font-padrao);
				font-size: 13px;
				font-weight: 700;
				
}

.c-main__button{
				display: none;
				padding: 6px 25px;
				background-color: rgba(255, 255, 255, 0);
				border: 2px solid #8257E5;
			 border-radius:4px;				
				cursor: pointer;
				color: #fff;
				font-family: var(--font-padrao);
				font-weight: 700;
				font-size:13px;
}

.c-navbar__btn{
				height: 50px;
				width: 40px;
				display: none;
				cursor: pointer;
}

.c-navbar__icon{
				height: 100%;
				width: 100%;
}

.c-navbar__btn--cancel{
				position: absolute;
				right: 20px;
				top: 10px;
}


@media(max-width: 868px){
				.c-body__disabled{
								overflow: hidden;
				}
				.c-navbar__logo--mobile{
								display: block;
						  	z-index: 3;
				}
			
				.c-navbar__btn{
								display: block;
				}
				.c-navbar__logo{
								display: none;
				}
				.c-navbar__btn-menu--hide{
								display: none;
				}
				
				.c-navbar__menu-list{
								position: fixed;
								height: 100vh;
								width: 100%;							
								left: -100%;
								top: 0px;
								display: block;
								padding: 40px 0;
								background-color: #08050d;
								transition: all 0.3s ease;
								 
				}
				
				.c-navbar.show .c-navbar__menu-list{
								left: 0%;
				}
				
		     	.c-navbar__item-list{							
							padding: 10px 0px;		
							padding-left: 10%;									
							border-bottom: 1px solid  rgba(206, 207, 205, 0.3);
				}
				.c-navbar__item-list--home{
								margin-top: 45px; 
								border-top: 1px solid rgba(206, 207, 205, 0.3);
				}
				.c-navbar__itens{				
								font-size: 23px;
								margin-left: -100%;
					 		 transition: 0.8s /*  cubic-bezier(0.68, -0.55,0.265,1.55) */; 
					 		 
				}
			
				.c-navbar__item-list:hover{				
								border-left: 5px solid #8257E5;
				}  
				.show .c-navbar__itens{
								margin-left: 0px;
				}
				.c-navbar__button{
								display: none;
				}
				.c-main__button{
								display: block;								
				}
				.c-main__paragrafo{
								display: block;
				}
}

 /* luzes roxas */
 .luzes{
 				position: absolute;
 }
.luz-superior{
				top: 0;
				right: 0;											
}

.luz-inferior{				
				bottom: 0;
				left: 0;
				
}
.luz-mobile{		
				display: none;
}


@media(max-width: 868px){
				.luzes{
								display: none;
				}

				 
			.luz-mobile{
							display: block;		
							width: 100%;			
							position: absolute;
							bottom: 0;
						
																				
			}
			.c-main__rocket-img, .c-main__button, .c-main__textos{
				z-index: 1;
  }
}

@media(max-width: 435px){
				.c-main__content{
								padding: 150px;
				}
}
